.post
  .post-header
    h1.title
      a(href=post.url)= post.title
    .meta
      | @
      span.date= post.date
      if post.categories
        = ' - '
        each cat, i in post.categories
          span.category= cat
          if i < post.categories.length - 1
            = ', '

  .content
    != post.content
    if isPostPage
      .social-buttons
        a.twitter-share-button(href="https://twitter.com/share" data-via="shuheikagawa" data-text=post.title) Tweet
        script.
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
